#main {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 150px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: auto;
    outline: solid;
    box-sizing: border-box;
}

#menu {
    width: 220px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 auto;
    padding: 20px
}

#menu > button {
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.gridSquare {
    width: 38px;
    height: 38px;
    background-color: white;
    border: 1px solid transparent;
}

.square:hover {
    background-color: black;
}

.squarePaint {
    background-color: black;
}

.squareErase {
    background-color: white;
}